.controls {
  /* min-height: 100vh; */
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls button {
  margin: 0.5rem;
}

.object {
  width: 90vh;
  /* header, footer, 2*margin */
  /* height: 100vh; */
  height: calc(100vh - 200px);
  /* - 2 * 5rem); */
}
